{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class = "container-fluid">

    <div class="row">

        <div class="col-5">

            <img src="https://png.pngtree.com/png-vector/20191030/ourlarge/pngtree-gamer-life-winner-winner-chicken-dinner-png-image_1921555.jpg" alt="image gamer" class="img-fluid imgAcc">

        </div>

            <div class="col-5 offset-1 contentAcc">

                <h1 class = "text-center titreAcc">Journal-Symfony</h1>
                <h2 class="text-center">GG à toi, jeune gamer (ou bien vieux ?) , d'être parvenu à finir la quête qui t'amène ici !</h2>
                <h4 class="text-center">Journal-Symfony est un journal numérique sur les jeux vidéos. Nous traitons tous style de jeu, comme des FPS, de la gestion ou encore des "MEUPORG". Nous sommes heureux de vous voir parmis nous et nous vous souhaitons une agréable visite sur cette espace !</h4>

            </div>

    </div>
        

    

</div>

{% endblock %}
