{{ form_start(form) }}

    <div class="form">

        {{ form_widget(form) }}

    </div>

        <button class="btn btn-outline-success btnForms">{{ button_label|default('Publier') }}</button>

{{ form_end(form) }}
